@using PatientManagement.Handler
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var url = ViewBag.ReturnUrl;
}

@section CSS {
    <link href="~/Content/plugin/notifyjs/lobibox.min.css" rel="stylesheet" />
}
<!-- Start main-content -->
<div class="main-content" style="padding-top: 80px;">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/Content/images/cinema/cinema-inner1.jpg">
        <div class="container pt-70 pb-20">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title text-white">Đăng nhập - Đăng ký</h2>
                        <ol class="breadcrumb text-left text-black mt-10">
                            <li><a href="/">Home</a></li>
                            <li class="active text-gray-silver">Đăng nhập - đăng ký</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-40">
                    <h4 class="text-gray mt-0 pt-5">Login</h4>
                    <form name="login-form" class="clearfix" id="frmLogin">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="form_username_email">Tên đăng nhập</label>
                                <input id="Username" name="form_username_email" class="form-control" value="patient" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="form_password">Mật khẩu</label>
                                <input id="Password" name="form_password" class="form-control" type="password" value="123qwe">
                            </div>
                        </div>
                        <div class="form-group pull-right mt-10">
                            <button class="btn btn-primary btn-sm" id="btnLogin">Đăng nhập</button>
                        </div>
                        <div class="clear text-center pt-10">
                            <a class="text-theme-colored font-weight-600 font-12" href="#">Quên mật khẩu</a>
                        </div>
                        @*<div class="clear text-center pt-10">
                                <a class="btn btn-dark btn-lg btn-block no-border mt-15 mb-15" href="#" data-bg-color="#3b5998">Login with facebook</a>
                                <a class="btn btn-dark btn-lg btn-block no-border" href="#" data-bg-color="#00acee">Login with twitter</a>
                            </div>*@
                    </form>
                </div>
                <div class="col-md-7 col-md-offset-1">
                    <form name="reg-form" class="register-form" method="post" id="frmReg">
                        <div class="icon-box mb-0 p-0">
                            <a href="#" class="icon icon-bordered icon-rounded icon-sm pull-left mb-0 mr-10">
                                <i class="pe-7s-users"></i>
                            </a>
                            <h4 class="text-gray pt-10 mt-0 mb-30">Không có tài khoản? Đăng ký ngay. </h4>  <span id="regNotify"></span>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="form_name">Tên đầy đủ</label>
                                <input name="FullName" class="form-control" type="text" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="form_gender">Giới tính</label>
                                <select name="Gender" class="form-control" required>
                                    <option value="" selected>---- Lựa chọn ----</option>
                                    <option value="True">Nam</option>
                                    <option value="False">Nữ</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="form_choose_username">Tên đăng nhập</label>
                                <input id="form_choose_username" name="Username" class="form-control" type="text" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="form_chooseDateOfBirth">Ngày sinh</label>
                                <input id="form_choose_DateOfBirth" name="DateOfBirth" class="form-control" type="date" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Email</label>
                                <input name="Email" class="form-control" type="email" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Số điện thoại</label>
                                <input name="Phone" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="form_choose_password">Mật khẩu</label>
                                <input id="form_choose_password" name="Password" class="form-control" type="password" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Nhập lại mật khẩu</label>
                                <input id="form_re_enter_password" name="RePassword" class="form-control" type="password" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-lg btn-block mt-15" type="submit" id="btnReg">Đăng ký</button>
                        </div>
                    </form>
                </div>
                <input type="hidden" value="@url" name="ReturnUrl" id="rtUrl" />
            </div>
        </div>
    </section>
</div>
<!-- end main-content -->
@section Scripts {
    <script src="~/Scripts/js/live/login.client.js"></script>
}