@{
    ViewBag.Title = "About us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- page-banner-section
================================================== -->
<section class="page-banner-section">
    <div class="container">
        <h2>About Us</h2>
        <ul class="page-depth">
            <li><a href='index.html'>Healthcare</a></li>
            <li><a href='about.html'>About us</a></li>
        </ul>
    </div>
</section>
<!-- End page-banner section -->
<!-- about section
           ================================================== -->
<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-post">
                    <img src="~/Content/images/upload/gallery/5.jpg" alt="">
                    <h2>Who we are &amp; what we do</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p>
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-post">
                    <!-- youtube -->
                    <iframe class="videoembed" width="560" height="315" src="https://www.youtube.com/embed/5CC-9AFuX3U" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                    <!-- End youtube -->
                    <h2>Everything you should know about us</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p>
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End about section -->
<!-- services
    ================================================== -->
<section class="services-about-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section alt-title">
                    <h1>Why choose us</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="flat-list list-left">
                    <ul>
                        <li class="content">
                            <h4 class="title">Tooth Protection</h4>
                            <p>Vestibulum laoreet libero vitae semper vehicula. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
                        </li>
                        <li class="content">
                            <h4 class="title">AENEAN LACINIA</h4>
                            <p>Vestibulum laoreet libero vitae semper vehicula. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
                        </li>
                        <li class="content">
                            <h4 class="title">Dental Care</h4>
                            <p>Vestibulum laoreet libero vitae semper vehicula. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-image-services">
                    <img src="~/Content/images/featured-list.png" alt="images" />
                </div>
            </div>

            <div class="col-md-4">
                <div class="flat-list list-right">
                    <ul>
                        <li class="content">
                            <h4 class="title">INTEGER MAXIMUS</h4>
                            <p>Vestibulum laoreet libero vitae semper vehicula. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
                        </li>
                        <li class="content">
                            <h4 class="title">MAURIS QUIS MAXIMUS</h4>
                            <p>Vestibulum laoreet libero vitae semper vehicula. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
                        </li>
                        <li class="content">
                            <h4 class="title">PRAESENT MOLLIS</h4>
                            <p>Vestibulum laoreet libero vitae semper vehicula. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End services -->
<!--Get An Appointment Section-->
<section class="get-appointment text-center">
    <div class="container">
        <div class="title-section">
            <h1>How We Can Help You?</h1>
        </div>
        <h3>We Offer A Wide Range Of Procedures To Help You Get The Perfect Smile.</h3>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <a href='appointment.html' class='btn btn-default'>Book an Appointment</a>
    </div>
</section>
<!-- End Appointment section -->
<!-- team section
    ================================================== -->
<section class="team-section">
    <div class="container">
        <div class="title-section alt-title">
            <h1>OUR TALENTED DOCTOR</h1>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="team-post">
                    <img src="~/Content/images/team/1.png" alt="">
                    <h2>Dr.Scott Riley</h2>
                    <span>Chief Medical Officer</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="team-post">
                    <img src="~/Content/images/team/4.png" alt="">
                    <h2>Dr. Levis Marot</h2>
                    <span>Surgery Specialist</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="team-post">
                    <img src="~/Content/images/team/3.jpg" alt="">
                    <h2>Dr. Leslie Gross</h2>
                    <span>Dental Hygienist</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="team-post">
                    <img src="~/Content/images/team/7.png" alt="">
                    <h2>Dr. Frank Roony</h2>
                    <span>Clinic Manager</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="team-post">
                    <img src="~/Content/images/team/5.png" alt="">
                    <h2>DR. SILVA BRAZOKA</h2>
                    <span>Cardiologist</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="team-post">
                    <img src="~/Content/images/team/2.png" alt="">
                    <h2>DR. ALEX CERMAK</h2>
                    <span>Surgeon</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="team-post">
                    <img src="~/Content/images/team/6.png" alt="">
                    <h2>DR. VACLAV VODVARKA</h2>
                    <span>Audiologist</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="team-post">
                    <img src="~/Content/images/team/8.png" alt="">
                    <h2>DR. ZDENEK KOLINOVA</h2>
                    <span>Pediatrician</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End team section -->