@{
    ViewBag.Title = "E404";
    Layout = null;
}

<!doctype html>
<html>

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>AMovie - 404</title>
    <meta name="description" content="zFrames team">
    <meta name="keywords" content="zFrames team">
    <meta name="author" content="zFrames team">

    <!-- Mobile Specific Metas-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="telephone=no" name="format-detection">
    <link rel="shortcut icon" href="~/Content/images/film.ico" />

    <!-- Fonts -->
    <!-- Font awesome - icon font -->
    <link href="~/Content/font-awesome.css" rel="stylesheet" />

    <!-- Stylesheets -->
    <!-- Custom -->
    <link href="~/Content/css/style3860.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
    <![endif]-->
</head>

<body>
    <div class="wrapper">
        <div class="error-wrapper">
            <a href='/' class="logo logo--dark">
                <img alt='logo' src="~/Content/images/logo-dark.png">
                <p class="slogan--dark">fun to search, fun to watch</p>
            </a>

            <div class="error">
                <img alt='' src='~/Content/images/error.png' class="error__image">
                <h1 class="error__text">sorry, but page can’t be found</h1>
                <a href="/" class="btn btn-md btn--warning">return to homepage</a>
            </div>
        </div>

        <div class="copy-bottom">
            <p class="copy">&copy; A.Movie, @DateTime.Now. All rights reserved. Done</p>
        </div>
    </div>
</body>
</html>