@Html.Partial("_PartialSlide")
<!-- services
    ================================================== -->
<section class="services-home-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section">
                    <h1>Healthcare</h1>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="service-box one">
                    <h4><i class="fa fa-user-md" aria-hidden="true"></i>FASTER FIRST AID</h4>
                    <p>Vestibulum sodales ante a purus volutpat euismod. Proin sodales quam nec ante sollicitudin lacinia.</p>
                </div>

                <div class="service-box">
                    <h4><i class="fa fa-plus-square" aria-hidden="true"></i>MEDICAL RESEARCH</h4>
                    <p>Vestibulum sodales ante a purus volutpat euismod. Proin sodales quam nec ante sollicitudin sodales lacinia.</p>
                </div>

                <div class="service-box">
                    <h4><i class="fa fa-hospital-o" aria-hidden="true"></i>INTENSIVE CARE</h4>
                    <p>Vestibulum sodales ante a purus volutpat euismod. Proin sodales quam nec ante sollicitudin volutpat euismod sodales lacinia.</p>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <img src="~/Content/images/gallery/3.jpg" alt="service-image" class="img-responsive">
            </div>
        </div>
    </div>
</section>
<!-- End services -->
<!-- features
    ================================================== -->
<section class="features-home-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section">
                    <h1>THE SERVICES WE OFFER</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="feature-img">
                    <img src="~/Content/images/healthcare.png" alt="feature-img" />
                </div>
                <div class="feature-description">
                    <h4 class="desc-title">PREMIUM FACILITIES</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-img">
                    <img src="~/Content/images/heartmedical.png" alt="feature-img" />
                </div>
                <div class="feature-description">
                    <h4 class="desc-title">LARGE LABORATORY</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-img">
                    <img src="~/Content/images/hospital.png" alt="feature-img" />
                </div>
                <div class="feature-description">
                    <h4 class="desc-title">DETAILED SPECIALIST</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-img">
                    <img src="~/Content/images/nursehead.png" alt="feature-img" />
                </div>
                <div class="feature-description">
                    <h4 class="desc-title">CHILDREN CARE CENTER</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-img">
                    <img src="~/Content/images/medicine.png" alt="feature-img" />
                </div>
                <div class="feature-description">
                    <h4 class="desc-title">FINE INFRASTRUCTURE</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-img">
                    <img src="~/Content/images/heart.png" alt="feature-img" />
                </div>
                <div class="feature-description">
                    <h4 class="desc-title">ANYTIME BLOOD BANK</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End features -->
<!-- Gallery-page section
    ================================================== -->
<section class="gallery-section gallery-page-section">
    <div class="container">
        <div class="title-section alt-title">
            <div class="row">
                <div class="col-md-12">
                    <h1>Healthcare Gallery</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="filter">
                        <li><a class="active" href="#" data-filter="*">All </a></li>
                        <li><a href="#" data-filter=".hospitals">Hospital Bad</a></li>
                        <li><a href="#" data-filter=".operation">Operation Theater</a></li>
                        <li><a href="#" data-filter=".kid">Kids Treatment</a></li>
                        <li><a href="#" data-filter=".health">Health Counseling</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="gallery-box iso-call col3">
            <div class="gallery-post hospitals health">
                <img src="~/Content/images/gallery/1.jpg" alt="">
                <div class="hover-box">
                    <div class="inner-hover">
                        <h2><a href='single-gallery.html'>Cancer Care</a></h2>
                        <span>care, intensive</span>
                        <a href="upload/gallery/1.jpg" class="zoom"><i class="fa fa-arrows-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="gallery-post operation default-size">
                <img src="~/Content/images/gallery/3.jpg" alt="">
                <div class="hover-box">
                    <div class="inner-hover">
                        <h2><a href='single-gallery.html'>Hospital Bad</a></h2>
                        <span>care, intensive</span>
                        <a href="upload/gallery/3.jpg" class="zoom"><i class="fa fa-arrows-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="gallery-post operation health">
                <img src="~/Content/images/gallery/5.jpg" alt="">
                <div class="hover-box">
                    <div class="inner-hover">
                        <h2><a href='single-gallery.html'>Kids Treatments</a></h2>
                        <span>care, intensive</span>
                        <a href="upload/gallery/5.jpg" class="zoom"><i class="fa fa-arrows-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="gallery-post kid health">
                <img src="~/Content/images/gallery/7.jpg" alt="">
                <div class="hover-box">
                    <div class="inner-hover">
                        <h2><a href='single-gallery.html'>Haematology</a></h2>
                        <span>care, intensive</span>
                        <a href="upload/gallery/7.jpg" class="zoom"><i class="fa fa-arrows-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="gallery-post operation hospitals">
                <img src="~/Content/images/gallery/8.jpg" alt="">
                <div class="hover-box">
                    <div class="inner-hover">
                        <h2><a href='single-gallery.html'>Cardiology</a></h2>
                        <span>care, intensive</span>
                        <a href="upload/gallery/8.jpg" class="zoom"><i class="fa fa-arrows-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="gallery-post kid health hospitals">
                <img src="~/Content/images/gallery/10.jpg" alt="">
                <div class="hover-box">
                    <div class="inner-hover">
                        <h2><a href='single-gallery.html'>Critical Care</a></h2>
                        <span>care, intensive</span>
                        <a href="upload/gallery/10.jpg" class="zoom"><i class="fa fa-arrows-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="gallery-post hospitals health">
                <img src="~/Content/images/gallery/2.jpg" alt="">
                <div class="hover-box">
                    <div class="inner-hover">
                        <h2><a href='single-gallery.html'>Pharmacy</a></h2>
                        <span>care, intensive</span>
                        <a href="upload/gallery/2.jpg" class="zoom"><i class="fa fa-arrows-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="gallery-post operation">
                <img src="~/Content/images/gallery/4.jpg" alt="">
                <div class="hover-box">
                    <div class="inner-hover">
                        <h2><a href='single-gallery.html'>Ear Nose and Throat</a></h2>
                        <span>care, intensive</span>
                        <a href="upload/gallery/4.jpg" class="zoom"><i class="fa fa-arrows-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="gallery-post operation health">
                <img src="~/Content/images/gallery/6.jpg" alt="">
                <div class="hover-box">
                    <div class="inner-hover">
                        <h2><a href='single-gallery.html'>Emergency Accident</a></h2>
                        <span>care, intensive</span>
                        <a href="upload/gallery/6.jpg" class="zoom"><i class="fa fa-arrows-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Gallery-page section -->
<!-- testimonial-section
    ================================================== -->
<section class="testimonial-section">
    <div class="container">

        <div class="testimonial-box">
            <ul class="bxslider">
                <li>
                    <h2>MITCHEL SMITH</h2>
                    <span>Surgeon</span>
                    <p>
                        "We would like to thank Healthcare Company for an outstanding effort on this recently completed project located in the Moscow. The project involved a very aggressive schedule and it was completed on time. We would certainly
                        like to use their professional services again."
                    </p>
                </li>
                <li>
                    <h2>John Michale</h2>
                    <span>Cardiologist</span>
                    <p>
                        Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in,
                        diam. Sed arcu. Cras consequat.
                    </p>
                </li>
                <li>
                    <h2>Quan Ngyen</h2>
                    <span>Surgery Specialist</span>
                    <p>
                        Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in,
                        diam. Sed arcu. Cras consequat.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- End testimonial section -->
<!-- team section
    ================================================== -->
<section class="team-section team-home-page">
    <div class="container">
        <div class="title-section alt-title">
            <h1>Our Doctors</h1>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="team-post">
                    <img src="~/Content/images/team/1.png" alt="">
                    <h2>Dr.Scott Riley</h2>
                    <span>Chief Medical Officer</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="team-post">
                    <img src="~/Content/images/team/4.png" alt="">
                    <h2>Dr. Levis Marot</h2>
                    <span>Surgery Specialist</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="team-post">
                    <img src="~/Content/images/team/3.jpg" alt="">
                    <h2>Dr. Leslie Gross</h2>
                    <span>Dental Hygienist</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="team-post">
                    <img src="~/Content/images/team/7.png" alt="">
                    <h2>Dr. Frank Roony</h2>
                    <span>Clinic Manager</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="team-post">
                    <img src="~/Content/images/team/5.png" alt="">
                    <h2>DR. SILVA BRAZOKA</h2>
                    <span>Cardiologist</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="team-post">
                    <img src="~/Content/images/team/2.png" alt="">
                    <h2>DR. ALEX CERMAK</h2>
                    <span>Surgeon</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="team-post">
                    <img src="~/Content/images/team/6.png" alt="">
                    <h2>DR. VACLAV VODVARKA</h2>
                    <span>Audiologist</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="team-post">
                    <img src="~/Content/images/team/8.png" alt="">
                    <h2>DR. ZDENEK KOLINOVA</h2>
                    <span>Pediatrician</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End team section -->
<!--Get An Appointment Section-->
<section class="get-appointment text-center">
    <div class="container">
        <div class="title-section">
            <h1>How We Can Help You?</h1>
        </div>
        <h3>We Offer A Wide Range Of Procedures To Help You Get The Perfect Smile.</h3>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <a href='appointment.html' class='btn btn-default'>Book an Appointment</a>
    </div>
</section>
<!-- End Appointment section -->
<!-- news-section
    ================================================== -->
<section class="news-section">
    <div class="container">
        <div class="title-section alt-title">
            <h1>Latest News</h1>
        </div>
        <div class="news-box">
            <div class="arrow-box">
                <a href="#" class="prev"><i class="fa fa-angle-left"></i></a>
                <a href="#" class="next"><i class="fa fa-angle-right"></i></a>
            </div>

            <div id="owl-demo" class="owl-carousel">
                <div class="item news-post">
                    <img src="~/Content/images/blog/news1.jpg" alt="">
                    <h2><a href='single-post.html'>FLATNIN' THE HILLS SOMEDAY THE MOUNTAIN </a></h2>
                    <ul class="post-tags">
                        <li>16 April ,</li>
                        <li><a href="#">Besim Dauti</a> ,</li>
                        <li><a href="#">Talented Doctors</a></li>
                    </ul>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="item news-post">
                    <img src="~/Content/images/blog/news2.jpg" alt="">
                    <h2><a href='single-post.html'>YOU BET YOUR LIFE SPEED RACER HE WILL SEE IT</a></h2>
                    <ul class="post-tags">
                        <li>10 April ,</li>
                        <li><a href="#">Qendrim Sadiku</a> ,</li>
                        <li><a href="#">Intesive Treatments</a></li>
                    </ul>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="item news-post">
                    <img src="~/Content/images/blog/news3.jpg" alt="">
                    <h2><a href='single-post.html'>ON YOUR MARK GET SET AND GO NOW GOT IT</a></h2>
                    <ul class="post-tags">
                        <li>31 March ,</li>
                        <li><a href="#">Kenan Mazhiqi</a> ,</li>
                        <li><a href="#">Cancer Cure</a></li>
                    </ul>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
                <div class="item news-post">
                    <img src="~/Content/images/blog/news4.jpg" alt="">
                    <h2><a href='single-post.html'>YOU BET YOUR LIFE SPEED RACER HE WILL SEE IT</a></h2>
                    <ul class="post-tags">
                        <li>31 March ,</li>
                        <li><a href="#">Kenan Mazhiqi</a> ,</li>
                        <li><a href="#">Surgical Center</a></li>
                    </ul>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="item news-post">
                    <img src="~/Content/images/blog/news5.jpg" alt="">
                    <h2><a href='single-post.html'>ON YOUR MARK GET SET AND GO NOW GOT IT </a></h2>
                    <ul class="post-tags">
                        <li>31 March ,</li>
                        <li><a href="#">Kenan Mazhiqi</a> ,</li>
                        <li><a href="#">Emergency Care</a></li>
                    </ul>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End news section -->