<tr>
    <td>
        <!-- TWO COLUMNS -->
        <table cellspacing="0" cellpadding="0" border="0" width="70%" align="center">
            <tr>
                <td valign="top" style="padding: 0;" class="mobile-wrapper">
                    <!-- LEFT COLUMN -->
                    <table cellpadding="0" cellspacing="0" border="0" width="47%" style="width: 47%;" align="left">
                        <tr>
                            <td style="padding: 0 0 10px 0;">
                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                    <tr>
                                        <td align="left" style="font-family: Arial, sans-serif; color: #333333; font-size: 16px;">{Name}</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <!-- RIGHT COLUMN -->
                    <table cellpadding="0" cellspacing="0" border="0" width="47%" style="width: 47%;" align="right">
                        <tr>
                            <td style="padding: 0 0 10px 0;">
                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                    <tr>
                                        <td align="right" style="font-family: Arial, sans-serif; color: #333333; font-size: 16px;">{Price} đ</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>