<!-- home-section
           ================================================== -->
<section id="home-section" class="slider1">

    <!--
    #################################
        - THEMEPUNCH BANNER -
    #################################
    -->
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Intro Slide">
                    <!-- MAIN IMAGE -->
                    <img src="~/Content/images/slide/1.jpg" alt="slidebg1" data-lazyload="/Content/images/slide/1.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption finewide_medium_white lft tp-resizeme rs-parallaxlevel-0" data-x="0" data-y="160" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="1000" data-start="1200" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-home1: 8; max-width: auto; max-height: auto; white-space: nowrap;">
                        WE are Healthcare
                    </div>

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption medium_thin_grey customin" data-x="0" data-y="230" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="1600"
                         data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-home1: 8; max-width: auto; max-height: auto; white-space: nowrap;">
                        Our medical specialists care about you & your family’s health
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption small_text customin tp-resizeme rs-parallaxlevel-0" data-x="0" data-y="290" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="1000" data-start="2200" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.05" data-endelementdelay="0.1" style="z-home1: 7; max-width: auto; max-height: auto; white-space: nowrap;">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor<br> incididunt ut labore et dolore magna aliqua. Ut enim
                    </div>
                </li>
                <!-- SLIDE  -->
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on" data-title="Parallax 3D">
                    <!-- MAIN IMAGE -->
                    <img src="~/Content/images/slide/3.jpg" alt="3dbg" data-lazyload="/Content/images/slide/3.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption finewide_medium_white lft tp-resizeme rs-parallaxlevel-0" data-x="0" data-y="160" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="1000" data-start="1200" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-home1: 8; max-width: auto; max-height: auto; white-space: nowrap;">
                        A Team Of Medical Professionals
                    </div>

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption medium_thin_grey customin" data-x="0" data-y="230" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="1600"
                         data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-home1: 8; max-width: auto; max-height: auto; white-space: nowrap;">
                        To Take Care Of Your Health
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption small_text customin tp-resizeme rs-parallaxlevel-0" data-x="0" data-y="290" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="1000" data-start="2200" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.05" data-endelementdelay="0.1" style="z-home1: 7; max-width: auto; max-height: auto; white-space: nowrap;">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor<br> incididunt ut labore et dolore magna aliqua. Ut enim
                    </div>
                </li>
            </ul>
            <div class="tp-bannertimer"></div>
        </div>
    </div>
</section>
<!-- End home section -->