<!-- footer
          ================================================== -->
<footer>
    <div class="up-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="about">
                        <h2>Healthcare</h2>
                        <p>
                            Our focus is on your overall well being and helping you achieve optimal health and esthetics. We provide stateof the art dental care.
                            <br> Types of bridges may vary, depending upon how they are fabricated and the way they
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="company">
                        <h2>QUICK LINKS</h2>
                        <ul class="list-unstyled">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Departments</a></li>
                            <li><a href="#">Galleries</a></li>
                        </ul>
                        <ul class="list-unstyled">
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Appointments</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="office">
                        <h2>CONTACT DETAILS</h2>
                        <ul class="list-unstyled">
                            <li>
                                <span><i class="fa fa-map-marker"></i></span>
                                <span>1600 Amphitheatre Parkway <br> Mountain View CA 94043</span>
                            </li>
                            <li>
                                <span><i class="fa fa-phone"></i></span>
                                <span>(+2) 0123456789</span>
                            </li>
                            <li>
                                <span><i class="fa fa-envelope"></i></span>
                                <span>info@Healthcare.com</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="business">
                        <h2>OPENING HOURS</h2>
                        <p class="first-par">Our support available to help you 24 hours a day, seven days a week.</p>
                        <p><span>Monday-Friday:</span>9am to 5pm</p>
                        <p><span>Saturday: </span>10am to 2pm</p>
                        <p><span>Sunday:</span> Closed</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="copyright">
        Healthcare &copy; Copyright 2017. All rights reserved.
    </p>
</footer>
<!-- End footer -->